main .note {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  background-color: var(--color-secondary-light-sky-blue);
  color: var(--color-secondary);
  font-family: var(--heading-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  position: relative;
}

main .note .icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

main .note p {
  margin: 0;
}

main .note p.note-heading {
  font-weight: 600;
}

/* Variations */

/* Other styles */
main .note.no-icon .icon {
  display: none;
}
