DA_ORG=aemsites # Organization name
DA_REPO=koassets # Repository name  
DA_BRANCH=main # Default branch
DA_DEST= # Destination folder under '${DA_ORG}/${DA_REPO}/', should NOT start or end with '/', e.g drafts/tphan
IMAGES_BASE=images/ # Base path for content store images, previously: 'fragments/.'
AEM_AUTHOR=https://author-p64403-e609778.adobeaemcloud.com # AEM Author instance URL
# Cookie of https://author-pXXXXX-eYYYYY.adobeaemcloud.com/
AUTHOR_AUTH_COOKIE=YOUR_COOKIE_HERE
# Bearer Token of https://da.live/#/${DA_ORG}/${DA_REPO}
DA_BEARER_TOKEN=Bearer YOUR_TOKEN_HERE

