<body>
  <header></header>
  <main>
      <div>
          <div class="search"></div>
      </div>
      <div>
          <div class="section-metadata">
              <div>
                  <div>
                      <p>style</p>
                  </div>
                  <div>
                      <p>dark</p>
                  </div>
              </div>
          </div>
          ${BANNER}
          ${CAROUSEL}
      </div>
      <div>
          <div class="section-metadata">
              <div>
                  <div>
                      <p>style</p>
                  </div>
                  <div>
                      <p>center</p>
                  </div>
              </div>
          </div>
          <p><a href="https://forms.office.com/r/Y9tWw8YPEK">Content Store Request Form</a></p>
      </div>
      <div>
      ${BLOCK_CONTENT_STORES}
      </div>
      <div></div>
  </main>
  <footer></footer>
</body>